# Переменные окружения и секреты (КРИТИЧЕСКИ ВАЖНО)
.env
.env.local
*.env

# Python & Виртуальные окружения
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Базы данных и временные файлы Docker
postgres_data/
*.sqlite3

# Системные файлы macOS / VS Code
.DS_Store
.vscode/
.idea/
cloudflared
*.log